<!DOCTYPE html>
<html>
<head>
  <title>Abdoul Kane - Part Service Designer, Part Developer</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="css/application.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="css/application.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>



<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
  <label>Name</label><br>
  <input type="text">

  <br>

  <label>Email</label>
  <input type="text">

  <br>

  <label>Message</label><br>
  <textarea></textarea>

  <br>

  <input type="submit" value="Send Message"
  class="button">
</div>






</body>

</html>
