<!DOCTYPE html>
<html>
<head>
  <title>Abdoul Kane - Part Service Designer, Part Developer</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

  <link rel="stylesheet" href="css/application.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="css/application.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header id="main_navigation" class="clearfix">
  <a href="#" class="name">Abdoul Kane</a>
  <nav>
    <a href="<%= articles_path %>">Articles</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>

<h1 id="page_title">Stuff I've Written</h1>
<div id="posts_wrapper" class="skinny_wrapper">
<div class="post">
<p class="date">Monday, December 4th</p>
<h2><a href="#">The Do list</a></h2>
<hr>
</div>
<div class="post">
<p class="date">Monday, December 4th</p>
<h2><a href="#">The Do list</a></h2>
<hr>
</div>

<div class="post">
<p class="date">Monday, December 4th</p>
<h2><a href="#">The Do list</a></h2>
<hr>
</div>

<div class="pagination">
  <span class="previous_page disabled">Previous</span>
  <em class="current">1</em>
  <a rel="next" href="#">2</a>
  <a class="next_page" href="#">next</a>
  </div>
</div>


<footer id="main_footer">
<p class="copyright">&copy; 2023
Abdoul Kane</p>
<nav>
  <a href="https://github.com/zizsalam" target="_blank"><i class="fa-brands fa-square-github"></i></a>
  <a href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  <a href="https://medium.com/@kaneaziz" target="_blank"><i class="fa-brands fa-medium"></i></a>
</nav>
</footer>

</body>

</html>
