<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <% if @project %>
      <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
      <h1><%= @project.title %></h1>
      <hr>
      <div id="content">
        <!-- Your content rendering here -->
      </div>
    <% else %>
      <p>Project not found</p>
    <% end %>
  </header>
</div>
