
<h1 id="page_title">Stuff I've Written</h1>
<div id="posts_wrapper" class="skinny_wrapper">
  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p class="date"><%= post.created_at.strftime("%A, %B %d") %></p>
  <% end %>

  <hr>
</div>


<%= will_paginate @posts %>
