
<div id="post_show_content" class="
skinny_wrapper wrapper_padding">
  <header>
  <p class="date"><% @post.created_at.strftime('%A, %B %d') %></p>
  <h1> <%= @post.title %></h1>
  <hr>
  </header>

  <div id="content">
  <%= simple_format @post.content %>
  </div>

  <hr>

  <div id="share_box">
    <p>Share The Do lIST</p>
    <a href="https://github.com/zizsalam" target="_blank"><i class="fa-brands fa-square-github"></i></a>
    <a href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://medium.com/@kaneaziz" target="_blank"><i class="fa-brands fa-medium"></i></a>
  </div>

  <hr>

</div>

<%= link_to "Edit", edit_post_path(@post) %>
